.common{
    border: 2px solid white;
    position: absolute;
}

.header{
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 1px #555555;
}

.leftmenu{
    top: 114px;
    left: 5px;
    width: 100px;
    bottom: 39px;
    z-index: 1;
    border-right: solid 1px #555555;
}

.mainbody{
    top: 114px;
    left: 114px;
    right: 114px;
    bottom: 39px;
    padding-right: 5px;
}
